## Задача №1
С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен. Например:

```python    
count_top3([1880]) == ['John', 'William', 'Mary']
count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']
```

In [37]:
import pandas as pd

def create_dataframe(year):
    path = f"names/yob{year}.txt"
    df = pd.read_csv(path, names=['Names', "Gender", "Count"])
    df["Year"] = year
    return df

In [38]:
def concat_dataframe(years):
    df = pd.DataFrame()
    for year in years:
        df = pd.concat([df, create_dataframe(year)])
    return df

In [39]:
def count_top3(years):
    df = concat_dataframe(years)
    top = df[["Names", "Count"]].groupby(["Names"]).sum().sort_values(by="Count", ascending=False).head(3)
    return top

In [40]:
count_top3([1880])

         Count
Names
John      9701
William   9562
Mary      7092

In [41]:
count_top3([1900, 1950, 2000])

         Count
Names
James   111789
John    109601
Robert  101368

## Задача №2
С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов. Например:

```python      
count_dynamics([1900, 1950, 2000]) == {
  'F': [299810, 1713259, 1814922],
  'M': [150486, 1790871, 1962744]
}
```

In [42]:
def count_dynamics(years):
    df = concat_dataframe(years)
    dynamics = df[["Year", "Gender", "Count"]].groupby(["Year", "Gender"]).sum().unstack("Gender")
    return dynamics

In [43]:
count_dynamics([1900, 1950, 2000])

          Count
Gender        F        M
Year
1900     299798   150480
1950    1713065  1790437
2000    1815295  1963202